:root {
  /*--main-bg-color: #1d222c;*/
  --main-bg-color: #121212;
  --main-text-color: #f2eff5;
  --secondary-bg-color: rgb(42, 33, 52);
  --secondary-bg-color-test: rgba(56, 53, 56, 0.7);
}
html, body {
  /*background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
  background-repeat: no-repeat;*/

  background-color: #d4418e;
  background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
  background-repeat: no-repeat;
}

#__nuxt {
  /*margin: 0 10em;*/
  /*background-color: var(--main-bg-color);*/
}

#content {
  margin: 0 10em;
}

h1 {
  margin: 0.5em 0;
  text-align: center;
  color: var(--main-text-color);
}

